#cust_btn_1{
	width:200px;
}

#cust_btn_2{
	width:200px;
}

#cust_footer{
	background-color:red;
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

#cust_nav{
	background-color: white;
	border-bottom:4px solid #cccccc;
}

#registration_panel{
		/*height:auto;*/
		/*margin:0 auto;*/
		border:1px solid #cccccc;
		border-radius: 10px;
		padding:20px;
		margin:20px;
		width: 100%;
		/*width:500px;*/
		/*align-self: center;*/
}

.input_types{

	border-radius:3px;
	padding:2px;
}


#login_panel{
		/*height:auto;*/
		/*margin:0 auto;*/
		border:1px solid #cccccc;
		border-radius: 10px;
		padding:20px;
		margin:20px;
		width:100%;
		/*width:500px;*/
		/*align-self: center;*/
}

.heading{
	text-align: center;
}


.cust_input{
	width: 100%;
	opacity:0.7;
	border-radius: 3px;
	padding:10px;
	margin:5px;
}

.cust_sub_btn{

	width:100%;
}

#home_btn{

	margin:0 auto;
}